<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.developer.parent-application-identifiers</key>
	<array>
		<string>ch.ubique.n2step</string>
		<string>ch.ubique.n2step.dev</string>
		<string>ch.ubique.n2step.abnahme</string>
	</array>
</dict>
</plist>
